{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
    <!--show links-->
    <br/><h1 align="center">Link Me!</h1><br/>
    <div id="links-list" class="card-deck">
     <!--javascript will load content to here-->
    </div>
    <br/>
    <!--add link-->
    <div class="card d-inline-flex p-2 card bg-light mb-3">
    <form method="POST">
      <br/><h1>Add Link</h1>
      <div class="form-group">
          <label for="url">link</label>
          <input type="text" class="form-control" id="url" name="url"/>
        </div>
        <div class="form-group">
          <label for="tag">name</label>
          <input type="text" class="form-control" id="tag" name="tag"/>
        </div>
        <div class="form-group">
          <label for="description">description</label>
          <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Link</button>
      </form>
    </div>
{% endblock %}

{% block javascript %}
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
      ></script>
{% endblock %}